$color-green: #63D1B4;
$color-green-light: #B8E0D6;
$color-green-dark: #50BEA1;
$color-blue: #254D71;
$color-blue-light: #55728D;
$color-blue-dark:#1f4261;
$color-pink: #FFBCB3;
$color-pink-dark:#fb9f93;
$color-white: #F6F7FB;